{% extends 'base.html' %}
{% block header %}
{% block title %}FFC ABout Us{% endblock %}
{% endblock %}
{% block content %}
<br>
<div class="about-section rounded">
  <h1>About Us</h1>
  <p>This is a capstone project for OSU CS467.</p>
  <p>Our mission is to take you fitness to the next level!</p>
</div>
<h3 style="text-align:center">Meet The Fitness Friends Challenge Team</h3>

<div class="row">
  <div class="col-sm-4 border border-white border-thick" style="text-align:center">
    <img class="d-block w-100 " src="{{ url_for('static', filename='mystery.JPG') }}" alt="Zuhair's Info">
    <h3 text-align:center>Zuhair Ahmed</h3>
    <p text-align:center>ahmedz@oregonstate.edu</p>
  </div>
  <div class="col-sm-4 border border-white border-thick" style="text-align:center">
    <img class="d-block w-100" src="{{ url_for('static', filename='mystery.JPG') }}" alt="Bryce's Info">
    <h3>Bryce Koenig</h3>
    <p>koenig@oregonstate.edu</p>
  </div>
  <div class="col-sm-4 border border-white border-thick" style="text-align:center">
    <img class="d-block w-100" src="{{ url_for('static', filename='mystery.JPG') }}" alt="Bryan's Info">
    <h3>Bryan DiStefano</h3>
    <p>distefab@oregonstate.edu</p>
  </div>
</div>

{% endblock %}