{% extends 'base.html' %}

{% block header %}
<h3 style="text-align:center">{% block title %}Welcome to the About Us page{% endblock %}</h3>
{% endblock %}

{% block body %}
<div class="about-section">
  <h1>About Us</h1>
  <p>This is a capstone project for OSU CS467.</p>
  <p>Our mission is to take you fitness to the next level!</p>
</div>

<h2 style="text-align:center">Fitness Friends Challenge Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="../static/mystery.JPG" alt="Bryan" style="width:100%">
      <div class="container">
        <h2>Bryan DiStefano</h2>
        <p>TBD1</p>
        <p>distefab@oregonstate.edu</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="../static/mystery.JPG" alt="Bryce" style="width:100%">
      <div class="container">
        <h2>Bryce Koenig</h2>
        <p>TBD2</p>
        <p>koenigb@oregonstate.edu</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="../static/mystery.JPG" alt="Zuhair" style="width:100%">
      <div class="container">
        <h2>Zuhair Ahmed</h2>
        <p>TBD3</p>
        <p>ahmedz@oregonstate.edu</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}