{% extends 'base.html' %}

<h3 style="text-align:center">{% block title %}Badges{% endblock %}</h3>

{% block content %}

<div class="card">
  <div class="card-body">
    <h5 class="card-title">New Badge</h5>
    <form method="POST">
      <div class="form-group">
        <input type="text" , class="form-control" , placeholder="Badge Image Name" , name="image" , required>
      </div>
      <button type="submit" , class="btn btn-default">
        <i class="fa fa-plus"></i> Add Badge 
      </button>
    </form>
  </div>
</div>

{% if badges %}
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Current Badges</h5>
    <table class="table table-striped">
      {% for badge in badges %}
      <tr>
        <td class="table-text">{{ badge['image'] }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endif %}

{% endblock %}