<!-- Fonts -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel='stylesheet'
  type='text/css' />
<!-- Bootstrap CSS -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" />
<!-- CSS StyleSheet Static -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<!--Google Font-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap" rel="stylesheet">
<!-- META Tag -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Favicon -->
<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
{% block links %}
{% endblock %}
{% block navbar %}
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="{{ url_for('static', filename='FFCLogo.png') }}" width="40" height="40" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('fitness_friends_challenge.index') }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('fitness_friends_challenge.registration') }}">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('fitness_friends_challenge.about') }}">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('fitness_friends_challenge.faq') }}">FAQ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('fitness_friends_challenge.users') }}">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('fitness_friends_challenge.tags') }}">Tags</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('fitness_friends_challenge.badges') }}">Badges</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('fitness_friends_challenge.kinds') }}">Kinds</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('fitness_friends_challenge.images') }}">Images</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('fitness_friends_challenge.weather') }}">Local Weather</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('fitness_friends_challenge.mapp') }}">Map</a>
        </li>
      </ul>
    </div>
  </nav>
  {% endblock %}
  <section class="content">
    <div class="container">

      <head>
        <title>{% block title %} {% endblock %}</title>

      </head>

      <body>
        {% block content %}
        {% endblock %}
      </body>
      {% for message in get_flashed_messages() %}
      <div class="alert alert-danger">
        <p class="lead">{{ message }}</p>
      </div>
      {% endfor %}

    </div>
  </section>
</div>
<!-- Bootstrap related JavaScript -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<!-- Weather related JavaScript -->
<script src="../static/script.js"></script>

<!--Footer-->
<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
  <div class="container text-center">
    <small style="color:white">Copyright &copy; 2021: Fitness Friends Challenge (OSU CS467)</small>
  </div>
</footer>