{% extends 'base.html' %}

{% block header %}
<h3 style="text-align:center">{% block title %}Welcome to the FAQ page{% endblock %}</h3>
{% endblock %}

<div class="faq-section">
  <h1>Frequently Asked Questions (FAQ)</h1>
  <p>1. What is Friends Fitness Challenge (FFC) app?</p>
  <p>FFC's mission is to get users back in control of their fitness goals by making it easy to create crowd sorucing
    compeitions. </p>
  <br>
  <p>2. How much will this cost me?</p>
  <p>FREE (for now)</p>
  <br>
  <p>3. Does FFC connect to my faviote social media?</p>
  <p>Eventually (currently on product road map)</p>
  <br>
  <p>4. What countries can I use FFC?</p>
  <p>USA only (for now)</p>
  <br>
  <p>5. What can I do to get on Wall of Fame?</p>
  <p>Rank first in an indiviual race, winners are ranked from fastest to slowest for race competitions</p>
  <br>
  <p>6. Who are the awesome people that created this app?</p>
  <p>See About Us page at Nav Bar</p>
</div>