{% extends 'base.html' %}

{% block header %}
<h3 style="text-align:center">{% block title %}Welcome to the Home page testing{% endblock %}</h3>
<div class="links">
  <a href="about.html">About</a>
  <a href="base-nav.html">Base-nav</a>
  <a href="challenge.html">Challenge</a>
  <a href="create.html">Create</a>
  <a href="faq.html">FAQ</a>
  <a href="profile.html">Profile</a>
  <a href="registration.html">Registration</a>
  <a href="search.html">Search</a>
  <a href="wall.html">Wall of Fame</a>
</div>

{% endblock %}