{% extends 'base.html' %}

{% block header %}
  <h3 style="text-align:center">{% block title %}Welcome to the Home page testing{% endblock %}</h3>
{% endblock %}

<div class="links">
  <a href="About">about.html</a>
  <a href="Base-Nav">base-nav.html</a>
  <a href="Challenge">challenge.html</a>
  <a href="Create">create.html</a>
  <a href="FAQ">faq.html</a>
  <a href="Profile">profile.html</a>
  <a href="Registration">registration.html</a>
  <a href="Search">search.html</a>
  <a href="Wall of Fame">wall.html</a>
</div>
