{% extends 'base.html' %}
{% block header %}
{% block title %}FFC Registration{% endblock %}
{% endblock %}
{% block content %}
  <h3>Registration</h3>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Register for Fitness Friends Challenge Today</h5>
    <form method="POST">
      <div class="form-group">
        <input type="text" , class="form-control" , placeholder="User Name" , name="username" , required>
        <input type="text" , class="form-control" , placeholder="Password" , name="password" , required>
        <input type="text" , class="form-control" , placeholder="First Name" , name="firstname" , required>
        <input type="text" , class="form-control" , placeholder="Last Name" , name="lastname" , required>
        <input type="text" , class="form-control" , placeholder="Email Address" , name="email" , required>
      </div>
      <button type="submit" , class="btn btn-primary">Register
      </button>
    </form>
  </div>
</div>
{% endblock %}