{% extends 'base.html' %}

{% block header %}
{% block title %}FFC Weather{% endblock %}
{% endblock %}
{% block content %}

<script src="https://apps.elfsight.com/p/platform.js" defer></script>
<div class="elfsight-app-abeba403-f1e2-4cbf-94ee-af859301838d"></div>

<!--
<div class="container">
    <div class="Weather">
        <br>
        <h3>Find your local wealther</h3>
        <br>

        <header>
            <input type="text" autocomplete="off" class="search-box" placeholder="Search for a city..." />
        </header>
        <main>
            <section class="location">
                <div class="city">Seattle, WA</div>
                <div class="date">Sunday 8 August 2021</div>
            </section>
            <div class="current">
                <div class="temp">75<span>°f</span></div>
                <div class="weather">Sunny</div>
                <div class="hi-low">60°f / 80°f</div>
            </div>
        </main>
    </div>
</div>
<br>
</div>

-->
{% endblock %}