{% extends 'base.html' %}

{% block header %}
{% block title %}FFC FAQ{% endblock %}
{% endblock %}
{% block content %}
<div class="container">
    <div class="faq-section">
        <br>
        <h3>Frequently Asked Questions (FAQ)</h3>
        <br>
        <div class="faq-questions rounded p-2">
            <p><strong>Question:</strong> What is Friends Fitness Challenge (FFC) app?</p>
        </div>
        <br>
        <div class="faq-questions rounded p-2">
            <p><strong>Answer:</strong> FFC's mission is to get users back in control of their fitness goals by making
                it easy to create crowd sourcing
                competitions. </p>
        </div>
        <br><br><br>
        <div class="faq-questions rounded p-2">
            <p><strong>Question:</strong> How much will this cost me?</p>
        </div>
        <br>
        <div class="faq-questions rounded p-2">
            <p><strong>Answer:</strong> Free at this point of development, but we reserve the right to pursue other
                avenues to keep the site running in the future.</p>
        </div>
        <br><br><br>
        <div class="faq-questions rounded p-2">
            <p><strong>Question:</strong> Does FFC connect to my favorite social media?</p>
        </div>
        <br>
        <div class="faq-questions rounded p-2">
            <p><strong>Answer:</strong> That is a feature we plan on adding to the site soon.</p>
        </div>
        <br><br><br>
        <div class="faq-questions rounded p-2">
            <p><strong>Question:</strong> What countries can I use FFC in?</p>
        </div>
        <br>
        <div class="faq-questions rounded p-2">
            <p><strong>Answer:</strong> USA only for now, we hope to rollout the site to other countries in the future.
            </p>
        </div>
        <br><br><br>
        <div class="faq-questions rounded p-2">
            <p><strong>Question:</strong> What can I do to get on a challenge's Wall of Fame?</p>
        </div>
        <br>
        <div class="faq-questions rounded p-2">
            <p><strong>Answer:</strong> Rank first in an individual race, winners are ranked from fastest to slowest for
                race competitions</p>
        </div>
    </div>
    <br>
</div>
{% endblock %}