<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

  <%- include ("../partials/nav.ejs") %>

    <h1>Fitness App + TESTING!</h1>
    <p>Team:
    Bryce Koenig
    Bryan DiStefano
    Zuhair Ahmed</p>


</body>
</html>
